{{include 'layout.html'}}

{{if auth.user:}}


{{else:}}

<!-- Main ========================================= -->
    <!-- Begin page content -->
     <div class="container-fluid main-container">
      {{if left_sidebar_enabled:}}
        <div class="col-md-3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}
      <section class="bg-primary" id="main">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <h2 class="section-heading">Welcome Home, Travelers!</h2>
                      <hr class="light">
                      <p class="text-faded">We've got what you need!</p>
                      <p class="text-faded">Start Exploring!</p>
                  </div>
              </div>
              <div class="row">

              </div>
          </div>
      </section>
      <section id="next2" style="background-color:#fff;">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <h2 class="section-heading">MyFly offers travelers a convenient way to search flights based on location, price and destination. Sign up, start searching and adding your flights, and manage your account. Simple!</h2>
                  </div>
              </div>
              <div class="row">

              </div>
          </div>
      </section>
      <section class="bg-primary" id="next">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-3 col-lg-offset-2">
                      <a href="img/portfolio/fullsize/1.png" class="portfolio-box">
                          <img src="https://lonelyplanetimages.imgix.net/mastheads/stock-photo-roman-sunset-77415821.jpg?sharp=10&vib=20&w=1200" class="img-responsive" alt="">

                  </div>
                  <div class="col-lg-3 col-lg-offset-2 text-center">
                      <h2 class="section-heading">We've got what you need!</h2>
                      <hr class="light">
                      <p class="text-faded">Welcome Home, Travelers!</p>
                      <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                  </div>
                  <div class="col-lg-3 col-lg-offset-2 text-center">
                      <h2 class="section-heading">We've got what you need!</h2>
                      <hr class="light">
                      <p class="text-faded">Welcome Home, Travelers!</p>
                      <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                  </div>
                  <div class="col-lg-3 col-lg-offset-2 text-center">
                      <h2 class="section-heading">We've got what you need!</h2>
                      <hr class="light">
                      <p class="text-faded">Welcome Home, Travelers!</p>
                      <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                  </div>
              </div>
              <div class="row">

              </div>
          </div>
      </section>
      <div class="{{=middle_column}}">

      </div>

<div class="container-fluid main-container">
      {{if left_sidebar_enabled:}}
        <div class="col-md-3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}
      <section class="bg-primary" id="main">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <h2 class="section-heading">Welcome Home, Travelers!</h2>
                      <hr class="light">
                      <p class="text-faded">We've got what you need!</p>
                      <p class="text-faded">Start Exploring!</p>
                  </div>
              </div>
              <div class="row">

              </div>
          </div>
      </section>
      <section id="next2" style="background-color:#fff;">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <font size="3" color="black">"I've always wanted to travel, but because of the lack of funds, I was unable to. MyFly made it possible for me to easily search for flights with the best prices. Thanks MyFly!" -Alec, 22</font>
                  </div>
              </div>
              <div class="row">

              </div>
          </div>
      </section>
      <section class="bg-primary" id="next">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-3 col-lg-offset-2">
                      <a href="img/portfolio/fullsize/1.png" class="portfolio-box">
                          <img src="https://lonelyplanetimages.imgix.net/mastheads/stock-photo-roman-sunset-77415821.jpg?sharp=10&vib=20&w=1200" class="img-responsive" alt="">
                  </div>
                  <div class="col-lg-3 col-lg-offset-2 text-center">
                      <h2 class="section-heading">We've got what you need!</h2>
                      <hr class="light">
                      <p class="text-faded">Welcome Home, Travelers!</p>
                      <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                  </div>
                  <div class="col-lg-3 col-lg-offset-2 text-center">
                      <h2 class="section-heading">We've got what you need!</h2>
                      <hr class="light">
                      <p class="text-faded">Welcome Home, Travelers!</p>
                      <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                  </div>
                  <div class="col-lg-3 col-lg-offset-2 text-center">
                      <h2 class="section-heading">We've got what you need!</h2>
                      <hr class="light">
                      <p class="text-faded">Welcome Home, Travelers!</p>
                      <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                  </div>
              </div>
              <div class="row">

              </div>
          </div>
      </section>
      <div class="{{=middle_column}}">

      </div>

{{pass}}
{{=message}}
{{=some}}
