{{include 'layout.html'}}

{{if auth.user:}}

<section class="bg-primary" id="main">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <h2 class="section-heading" id="section-heading">Search Flights Easily!</h2>
                      <hr class="light">
                  </div>
              </div>
              <div class="row">
              </div>
          </div>
      </section>

{{else:}}

<!-- Main ========================================= -->
    <!-- Begin page content -->
     <div class="container-fluid main-container">
      {{if left_sidebar_enabled:}}
        <div class="col-md-3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}
      <section class="bg-primary" id="main">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <h2 class="section-heading" id="heading">Welcome Home, Travelers!</h2>
                      <hr class="light">
                  </div>
              </div>
              <div class="row">

              </div>
          </div>
      </section>
      <section id="next2" style="background-color:#fff;">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <h2 id="summary">MyFly offers travelers a convenient way to search flights based on location, price and destination. Sign up, start searching and adding your flights, and manage your account. Simple!</h2>
                  </div>
              </div>
              <div class="row">

              </div>
          </div>
      </section>
      <section class="bg-primary" id="next">
          <div class="container-fluid" style="padding-top: 0px;border-top-style: solid;border-top-width: 0px;margin-top: -40px;">
              <div class="row">
                  <div class="col-lg-3 col-lg-offset-2">
                      <a href="img/portfolio/fullsize/1.png" class="portfolio-box">
                          <img src="https://lonelyplanetimages.imgix.net/mastheads/stock-photo-roman-sunset-77415821.jpg?sharp=10&vib=20&w=1200" class="img-responsive" alt="">
                  </div>
                  <div class="col-lg-3 col-lg-offset-2 text-center">
                    <a href="img/portfolio/fullsize/1.png" class="portfolio-box">
                        <img src="https://s-media-cache-ak0.pinimg.com/originals/de/5b/7c/de5b7c139f8ceade7aee80b031bd10c5.jpg" class="img-responsive" alt="">
                  </div>
              </div>
              </div>
          </div>
      </section>
      <div class="{{=middle_column}}">

      </div>

<div class="container-fluid main-container">
      {{if left_sidebar_enabled:}}
        <div class="col-md-3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}
      <section class="bg-primary" id="main">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <h2 class="section-heading" id="heading2">We've got what you need!</h2>
                      <hr class="light">
                      <p class="text-faded" id="search flights">Search Flights from San Francisco to Tokyo, Japan</p>
                  </div>
              </div>
              <div class="row">

              </div>
          </div>
      </section>
      <section id="next2" style="background-color:#fff;">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <font size="3" color="black">
						  "I've always wanted to travel. MyFly made it possible for me to search for flight easily. I could add flights to my profile and keep a track of my flights. Thanks MyFly!" -Alec, 22</font>
                  </div>
              </div>
              <div class="row">

              </div>
          </div>
      </section>
      <section class="bg-primary" id="next">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-3 col-lg-offset-2">
                      <a href="img/portfolio/fullsize/1.png" class="portfolio-box">
                          <img src="https://lonelyplanetimages.imgix.net/mastheads/stock-photo-roman-sunset-77415821.jpg?sharp=10&vib=20&w=1200" class="img-responsive" alt="">
                  </div>
                  <div class="col-lg-3 col-lg-offset-2 text-center">
                      <h2 class="section-heading"></h2>
                      <hr class="light">
                      <p class="text-faded"></p>
                  </div>
              </div>
              <div class="row">

              </div>
          </div>
      </section>
      <div class="{{=middle_column}}">

      </div>

{{pass}}

